<ion-row color="dark" class="prompt-profile-completion">
    <h2>Complete Your Profile to Earn Points</h2>
    <ion-card padding>
            <ion-item>
                <ion-label stacked>BANK ACCOUNT NUMBER</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label stacked>INCOME RANGE (MONTHLY)</ion-label>
                <ion-select interface="popover" [(ngModel)]="gaming">
                    <ion-option value="nes">100</ion-option>
                    <ion-option value="n64">200</ion-option>
                    <ion-option value="ps">300</ion-option>                                 
                </ion-select>
            </ion-item>
    </ion-card>
    

  </ion-row>