<ion-card color="dark" class="no-box-shadow">    
    <ion-card-content>
      <ion-card-title class="article-heading">
          8 Steps To An Organized
          Financial Life
        </ion-card-title>
        <p class="article-author">By Author Name | Updated November 6, 2017 — 1:46 PM</p>
        <p class="article-time">10 min read</p>
        <h2 class="article-para-heading">1. Pull Out Your Budget at Least Once Per Month</h2>
        <p class="article-para">Your bills could change on a monthly basis.
            Revise your budget as bills come in and adjust
            other expenses to make up for it, so you don't
            accidentally overdraw your bank account. For
            instance, some months and seasons bring
            higher electrical bills than others. Let's say
            your electric bill is a $100 more in June than it
            was in May.</p>
            <p class="article-para">Your bills could change on a monthly basis.
                Revise your budget as bills come in and adjust
                other expenses to make up for it, so you don't
                accidentally overdraw your bank account. For
                instance, some months and seasons bring
                higher electrical bills than others. Let's say
                your electric bill is a $100 more in June than it
                was in May.</p>
    </ion-card-content>
    <div overflow-scroll="true">
        <video controls="controls" preload="metadata" autoplay="false" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="https://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/></video>
    </div>
</ion-card>