tool-card {
    .tool-card{
        margin:15px auto 0 !important;
        border-radius: 8px;
        text-align: left;
        box-shadow: none !important;
        .item-inner{
            ion-label{
                font-size: 17px !important;
            }
        }
        ion-card-content{
            line-height: 25px !important;
            p{
                font-size:15px !important;
                color: color($colors, social, base) !important;
                span{
                    color: color($colors, orangecolor, base) !important;
                }
            }
            h2{
                color: color($colors, orangecolor, base) !important;
                font-size: 18px !important;
                margin: 10px auto !important;
            }
            
        }
    }
}
