<ion-card class="tool-card">
    <ion-card-header class="pad-0">                   
        <ion-item class="orange-gradient" color="orangecolor">
            <ion-icon name="ios-man-outline" item-start></ion-icon>
            Walking Challenge
        </ion-item>                   
    </ion-card-header>
    <ion-card-content padding text-center>
        <p>Walk for 30 minutes earn</p>
        <h2>50 points</h2>
        <p>Burn <span>150 calories</span></p>
        <br/>
        <button ion-button round text-center large class="text-lg mar-vr-15 fw-n center-block" color="orangecolor">Start Walking</button>
    </ion-card-content>
    
  </ion-card>