<ion-item color="dark" class="tools-wrapper" padding no-lines style="padding-bottom:0px !important;">
    Try Other Tools
    <ion-scroll class="tool-scroll" scrollX="true">
        <ion-card class="orange-gradient">
            <div class="card-title">Madison</div>
            <div class="card-subtitle">Health</div>
        </ion-card> 
        <ion-card class="orange-gradient">
            <div class="card-title">Madison</div>
            <div class="card-subtitle">Health</div>
        </ion-card>    
        <ion-card class="orange-gradient">
            <div class="card-title">Madison</div>
            <div class="card-subtitle">Health</div>
        </ion-card> 
        <ion-card class="orange-gradient">
            <div class="card-title">Madison</div>
            <div class="card-subtitle">Health</div>
        </ion-card>                        
    </ion-scroll>
</ion-item>