<ion-card class="article-design">
    <img src="assets/imgs/investment.jpg" alt="Investment Image" class="img-responsive"/>
    <ion-card-content>
    <ion-card-title class="card-heading">
        Bank Account Tips For Young People
    </ion-card-title>
    <span class="card-sub-heading">source.com • 1h • 1235 Reads • 5 min read</span>
    <p class="card-content line-clamp">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </p>
    <ion-row class="card-tag">
        <ion-item class="pad-0">
            <span item-left class="hash-tag">#Topic</span>
            <button ion-button icon-left clear item-end color="dark">
                <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </button>
        </ion-item>
    </ion-row>
    </ion-card-content>
</ion-card>