<ion-card padding class="social-card">
   
    <img src="assets/imgs/recipe.jpg" alt="recipe image" class="img-responsive">
    
    <ion-card-content>
        <ion-card-title>
            Nine Inch Nails Live
        </ion-card-title>
        <p class="card-content line-clamp">Nutritional blurb will be placed here</p>
        <p>Prep time 20 • Cook time 35 • Serves 4 • Calories 350</p>
        <p>654 Reads</p>
        <span item-left class="grey-hash-tag">#Topic</span>
        <span item-left class="grey-hash-tag">#Topic</span>
        <span item-left class="grey-hash-tag">#Topic</span>
    </ion-card-content>
    
    <ion-row>
        <ion-col class="pad-0">
            <button ion-button icon-left clear small color="social">
                <ion-icon name="heart-outline"></ion-icon>
                <div>143</div>
            </button>
        </ion-col>
        <ion-col class="pad-0">
            <button ion-button icon-left clear small color="social">
                <ion-icon name="text"></ion-icon>
                <div>100</div>
            </button>
        </ion-col>
        <ion-col class="pad-0">
            <button ion-button icon-left clear small color="social">
                <ion-icon name="share"></ion-icon>
                <div>58</div>
            </button>
        </ion-col>
    </ion-row>
    
  </ion-card>