<ion-card padding text-center class="orange-gradient block">
    <ion-grid class="pad-0">
       <ion-row>
          <ion-col col-12>
             <p class="text-x-lg white">Toal articles read</p>
             <p class="fw-l text-big white">
                <strong>234</strong>
             </p>
          </ion-col>
       </ion-row>
       <ion-row class="bdr-right">
          <ion-col col-4>
             <p class="text-x-lg white">Health</p>
             <p class="fw-l text-x-lg white">
                <strong>100</strong>
             </p>
          </ion-col>
          <ion-col col-4>
             <p class="text-x-lg white">Finance</p>
             <p class="fw-l text-x-lg white">
                <strong>134</strong>
             </p>
          </ion-col>
          <ion-col col-4>
             <p class="text-x-lg white">Likes</p>
             <p class="fw-l text-x-lg white">
                <strong>65</strong>
             </p>
          </ion-col>
       </ion-row>
       <ion-row>
          <ion-col col-12>
             <p class="text-x-lg white">
                <ion-icon name="timer"></ion-icon>
                Reading History
             </p>
          </ion-col>
       </ion-row>
    </ion-grid>
 </ion-card>
