<ion-scroll class="cat-scroll" scrollX="true">
    <button ion-button round small color="light">Category</button>
    <button ion-button round small color="light">Category</button>
    <button ion-button round small color="light">Category</button>
    <button ion-button round small color="light">Category</button>
    <button ion-button round small color="light">Category</button>
    <button ion-button round small color="light">Category</button>
    <button ion-button round small color="light">Category</button>
    <button ion-button round small color="light">Category</button>
    <button ion-button round small color="light">Category</button>
 </ion-scroll>