
<ion-scroll class="article-mini-scroll" style="margin-top:15px;" scrollX="true">
    <ion-card class="article-carsouel block">
       <img src="assets/imgs/investment.jpg" alt="Investment Image" class="img-responsive"/>
       <ion-card-content>
          <ion-card-title class="card-heading">
             Bank Account Tips For Young People
          </ion-card-title>
          <ion-row class="card-tag">
             <ion-item class="pad-0">
                <span class="card-sub-heading">1235 Reads • 5 min read</span>
                <button ion-button icon-left clear item-end color="dark">
                   <ion-icon ios="ios-more" md="md-more"></ion-icon>
                </button>
             </ion-item>
          </ion-row>
       </ion-card-content>
    </ion-card>
    <ion-card class="article-carsouel block">
        <img src="assets/imgs/investment.jpg" alt="Investment Image" class="img-responsive"/>
        <ion-card-content>
            <ion-card-title class="card-heading">
                Bank Account Tips For Young People
            </ion-card-title>
            
            <ion-row class="card-tag">
                <ion-item class="pad-0">
                <span class="card-sub-heading">1235 Reads • 5 min read</span>
                <button ion-button icon-left clear item-end color="dark">
                    <ion-icon ios="ios-more" md="md-more"></ion-icon>
                </button>
                </ion-item>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card class="article-carsouel block">
        <img src="assets/imgs/investment.jpg" alt="Investment Image" class="img-responsive"/>
        <ion-card-content>
            <ion-card-title class="card-heading">
                Bank Account Tips For Young People
            </ion-card-title>
            <ion-row class="card-tag">
                <ion-item class="pad-0">
                <span class="card-sub-heading">1235 Reads • 5 min read</span>
                <button ion-button icon-left clear item-end color="dark">
                    <ion-icon ios="ios-more" md="md-more"></ion-icon>
                </button>
                </ion-item>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-scroll>